<mat-toolbar class="mat-elevation-z6">
  <div fxLayout="row" fxLayoutAlign="space-between center" style="width: 100%;">
    <div class='icon' id='logo' (click)="goHome()">Portfolio</div>
    <div>
      <button mat-icon-button [matMenuTriggerFor]="menu" class='menu-button'>
        <mat-icon>more_vert</mat-icon>
      </button>
    </div>
  </div>
</mat-toolbar>

<mat-menu #menu="matMenu">
  <ng-template matMenuContent>
    <button mat-menu-item (click)="goToCalendar()" class='calendar'>
      <mat-icon>today</mat-icon>
      <span>Calendar</span>
    </button>
  </ng-template>
</mat-menu>
