<div fxLayout="column" fxLayoutAlign="center center" style="width: 100%" *transloco="let t">
  <h2 style="text-align: center">{{t('calendar.create_year')}}</h2>

  <form [formGroup]="form" class="form">
    <div fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="15px">
      <mat-form-field appearance="fill" class="form">
        <mat-label>{{t('calendar.year')}}</mat-label>
        <mat-select formControlName="yearNumber" id="yearNumber">
          <mat-option *ngFor="let year of years" [value]="year.value">{{
            year.key
            }}</mat-option>
        </mat-select>
        <mat-error *ngIf="form.get('yearNumber').errors?.required">{{t('calendar.year_is_required')}}
        </mat-error>
      </mat-form-field>

      <mat-form-field appearance="fill" class="form">
        <mat-label>{{t('calendar.first_month')}}</mat-label>
        <mat-select formControlName="monthFirst" id="monthFirst">
          <mat-option *ngFor="let month of months" [value]="month.monthNumber">{{t(
            month.monthName)
            }}
          </mat-option>
        </mat-select>
        <mat-error *ngIf="form.get('monthFirst').errors?.required">{{t('calendar.first_month_is_required')}}
        </mat-error>
      </mat-form-field>

      <mat-form-field appearance="fill" class="form">
        <mat-label>{{t('calendar.last_month')}}</mat-label>
        <mat-select formControlName="monthLast" id="monthLast">
          <mat-option *ngFor="let month of months" [value]="month.monthNumber">{{t(
            month.monthName)
            }}</mat-option>
        </mat-select>
        <mat-error *ngIf="form.get('monthLast').errors?.required">{{t('calendar.last_month_is_required')}}
        </mat-error>
      </mat-form-field>
      <mat-error *ngIf="form.errors?.monthLastLessThanMonthFirst">
        {{t('calendar.month_last_less_than_month_first')}}
      </mat-error>

      <div fxLayout="row" fxLayoutAlign="space-between">
        <button mat-button (click)="cancel()">
          {{t('calendar.cancel')}}
        </button>
        <button mat-button color="primary" (click)="onSubmit()" id="saveYearButton">
          {{t('calendar.save')}}
        </button>
      </div>
    </div>
  </form>
</div>
