<p>home works!</p>
<div fxLayout='column' fxLayoutAlign.gt-xs='space-around'>
  <button mat-raised-button (click)="fuckIt()" id='fuck'>Fuck it!</button>
  <p [hidden]='hidden'>Fuck u all, bitches!</p>

  <div style="width: 300px;">
    <mat-accordion>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            Welcome
          </mat-panel-title>
        </mat-expansion-panel-header>
        <p>I am the content!</p>
      </mat-expansion-panel>
    </mat-accordion>
  </div>
</div>
